<mat-toolbar color="primary" class="flex-row--space-between">
    <div class="flex-row--start">
        <div class="display--none">
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
            <a routerLink="/home">{{'Titles.angularTest' | translate}}</a>
        </div>
    </div>
    <div class="display--flex">
        <ul class="navigation-items flex-row--start">
            <li class="mr-10 flex-row--start cursor-pointer">
                <mat-icon>linear_scale</mat-icon>
                <a (click)="openWizardModal()">{{'Menu.wizard' | translate}}</a>
            </li>
            <li class="m-10 flex-row--start cursor-pointer">
                <mat-icon>timelapse</mat-icon>
                <a routerLink="/home">{{'Menu.counter' | translate}}</a>
            </li>
            <li class="m-10 flex-row--start cursor-pointer">
                <mat-icon>today</mat-icon>
                <a routerLink="/home">{{'Menu.calendar' | translate}}</a>
            </li>
        </ul>
    </div>
    <app-lang-selector></app-lang-selector>
</mat-toolbar>
