a {
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: lightgray;
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 900px){
    mat-toolbar{
        border-radius: 0px;
    }
    .display--flex {
        display: none;
    }
    .display--none {
        display: flex;
    }
}
  