
.display--flex {
    display: flex;
}
  
.display--block{
    display: block !important;
}
  
.display--inline{
    display: inline !important;
}
  
.display--none {
    display: none;
}
  
.flex-row--space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.flex-row--start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


  