.text--capitalize {
    text-transform: capitalize;
}
  
.text--align-center {
    text-align: center !important;
}
  
.text--align-right {
    text-align: right !important;
}
  
.text--align-left {
    text-align: left !important;
}
  
.text--align-justify {
    text-align: justify;
}
  
.text--uppercase {
    text-transform: uppercase;
}
  
.text--lowercase {
    text-transform: lowercase;
}
  
.tag--error {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #ff5252;
    color: white;
}
  
.title-fg {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    color: #000;
    font-size: 9pt;
  
    &--white {
      color: white;
    }
}
  
.subtitle--design {
    color: #252424;
    font-size: 9pt;
}

.text--design {
    color: #404040;
    font-size: 10pt;
    font-weight: normal;
}
  
.text--design-bold {
    color: #626262;
    font-size: 10pt;
    font-weight: bold;
}  
  
h2 {
    font-weight: normal;
    font-size: 21px;
    color: #636364;
    line-height: 0.5em;
}
  
h3 {
    font-weight: 400;
    font-size: 15px;
    color: #161617;
}
  
h5 {
    font-size: 9pt;
    font-weight: normal;
    line-height: 0em;
    text-align: center;
    color: #8A8C8D;
}
  
.text--weight-bold {
    font-weight: 600;
}
  
.text--style-italic {
    font-style: italic;
}
  
.text--style-normal {
    font-style: normal;
}
  