$colorPartner: #21bdff;
$colorFriend: #ff5f00;
$colorOrange: #f34f23;
$colorRed: #FE3153;
$colorBlue: #00b7ff;
$colorYellow: #edef00;
$colorGreen: #3dc643;
$colorGray: #525252;
$colorSilver:silver;
$colorLavender:lavender;
$colorGrayBackdropX2: #f7f7f7;
$colorPurple: #78288C;
$antiquewhite: antiquewhite;