<div class="modal">

    <button class="btn--close" mat-icon-button [mat-dialog-close]="false">
        <mat-icon class="md-14">close</mat-icon>
    </button>

    <mat-dialog-content>

      <div class="text--align-center test221">
        <h2 class="p-0">{{'Titles.savingInto' | translate}}</h2>
      </div>

      <app-wizard (Next)="onNext($event)" (Previous)="onPrevious($event)">
  
        <app-wizard-step (actionInPrevious)="onClose()"
                         [execNextIfInvalid]="true"
                         [nextIf]="form1.valid">
  
          <form [formGroup]="form1" name="form1" novalidate>
         
              <div class="fg form-group">
                <label class="title-fg fc--required" for="first_name">
                  {{ "Labels.name" | translate }}
                </label>
                <input formControlName="name" id="name" required type="text">
              </div>
  
              <div class="fg form-group">
                <label class="title-fg fc--required" for="last_name">
                  {{ "Labels.lastName" | translate }}
                </label>
                <input formControlName="last_name" id="last_name" required type="text">
              </div>
    
          </form>
        </app-wizard-step>
  
        <app-wizard-step [execNextIfInvalid]="true"
                         [nextIf]="form2.valid">

          <form  [formGroup]="form2" name="form2" class="w-100" novalidate>
         
              <div class="fg form-group">
                <label class="title-fg fc--required" for="email">
                  {{ "Labels.email" | translate }}
                </label>
                <input formControlName="email" id="email" required type="email">
              </div>
      
              <div class="fg form-group">
                <label class="title-fg fc--required" for="password">
                  {{ "Labels.password" | translate }}
                </label>
                <input type="password" formControlName="password" id="password" placeholder="○ ○ ○ ○ ○ ○ ○ ○ ○" required>
              </div>  
   
          </form>
        </app-wizard-step>
  

        <app-wizard-step [execNextIfInvalid]="true"
                         [nextIf]="form3.valid">
  
          <form [formGroup]="form3" name="birthDate"  class="w-100" novalidate>
        
              <label class="title-fg fc--required" for="birthDate">
                {{ "Labels.birthDate" | translate }}
              </label>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{'Labels.birthDate' | translate}}</mat-label>
                <input matInput formControlName="birth_date" [matDatepicker]="birth_date">
                <mat-datepicker-toggle matSuffix [for]="birth_date"></mat-datepicker-toggle>
                <mat-datepicker #birth_date></mat-datepicker>
              </mat-form-field>
     
          </form>
        </app-wizard-step>  
        
        <app-wizard-step [execPreviousIfInvalid]="true"
                         [execNextIfInvalid]="false"
                         [nextText]="'Buttons.save' | translate"
                         (actionInNext)="saveData()"
                         [nextIf]="check">

          <form [formGroup]="form4" name="form4"  class="w-100" novalidate>

            <div [innerHTML]="agreementText[langUse]" class="my-10"></div>
           
            <div class="text--design text--align-justify">
              <mat-checkbox formControlName="agreement" (change)="onChange($event)"  class="my-10">
                {{'Labels.acceptAgreement' | translate}}
              </mat-checkbox>
            </div>
          </form>
        </app-wizard-step>
      </app-wizard>
  
    </mat-dialog-content>
</div>
