
<div class="w-100 clear flex-row--center">
    <button (click)="setMode(EnumMode.CLOCK)" class="m-5 pull-left" mat-mini-fab color="primary">
        <mat-icon>schedule</mat-icon>
    </button>
    <button (click)="setMode(EnumMode.CRONO)" class="m-5 pull-left" mat-mini-fab color="warn">
        <mat-icon>timer</mat-icon>
    </button>
    <button (click)="setMode(EnumMode.TIMER)" class="m-5 pull-left" mat-mini-fab color="accent">
        <mat-icon>timelapse</mat-icon>
    </button>
</div>

<ng-container *ngIf="mode === EnumMode.CLOCK">
    <div class="w-100 clear">
        <p class="container mt-30">
            <time class="timer">
                {{ clockData?.hour }}
                <span class="subtitle--design position-relative b-10">hr</span>
            </time>
            <span class="p-10 separator">:</span>
            <time class="timer">
                {{ clockData?.minutes}}
                <span class="subtitle--design position-relative b-10">min</span>
            </time>
            <span class="p-10 separator">:</span>
            <time class="timer">
                {{ clockData?.secounds}}
                <span class="subtitle--design position-relative b-10">s</span>
            </time>
            <span class="p-10 separator">:</span>
            <time class="timer">{{ clockData?.ampm}}</time>
        </p>
    </div>
</ng-container>

<ng-container *ngIf="mode === EnumMode.CRONO">
    <div class="w-100 clear">
        <p class="container mt-30">
            <time class="timer">
                {{ cronoData?.time?.hour}}
                <span class="subtitle--design position-relative b-10">hr</span>
            </time>
            <span class="p-10 separator">:</span>
            <time class="timer">
                {{ cronoData?.time?.minutes | convertTime}}
                <span class="subtitle--design position-relative b-10">min</span>
            </time>
            <span class="p-10 separator">:</span>
            <time class="timer">
                {{ cronoData?.time?.secounds | convertTime}}
                <span class="subtitle--design position-relative b-10">s</span>
            </time>
        </p>
    </div>
</ng-container>


<ng-container *ngIf="mode === EnumMode.TIMER">
    <div class="w-100 clear">
        <p class="container mt-30">
            <time class="timer">
                {{ timerData?.time?.hour }}
                <span class="subtitle--design position-relative b-10">hr</span>
            </time>
            <span class="p-10 separator">:</span>
            <time class="timer">
                {{ timerData?.time?.minutes | convertTime  }}
                <span class="subtitle--design position-relative b-10">min</span>
            </time>
            <span class="p-10 separator">:</span>
            <time class="timer">
                {{ timerData?.time?.secounds | convertTime }}
                <span class="subtitle--design position-relative b-10">s</span>
            </time>
        </p>
    </div>
</ng-container>

<div class="w-100 clear flex-row--center">
    <button (click)="setMode(EnumMode.CLOCK)" class="m-5 pull-left" mat-mini-fab color="primary">
        <mat-icon>schedule</mat-icon>
    </button>
    <button (click)="setMode(EnumMode.CRONO)" class="m-5 pull-left" mat-mini-fab color="warn">
        <mat-icon>timer</mat-icon>
    </button>
    <button (click)="setMode(EnumMode.TIMER)" class="m-5 pull-left" mat-mini-fab color="accent">
        <mat-icon>timelapse</mat-icon>
    </button>
</div>

<ng-container *ngIf="mode === EnumMode.CRONO">
    <div class="principales contenedor">
      <button class="btn reiniciar" (click)="reiniciar()">REINICIAR</button>
      <button class="btn iniciar" (click)="initCrono()">{{ cronoData.running ? 'PAUSAR' : 'INICIAR' }}</button>
    </div>
</ng-container>

<ng-container *ngIf="mode === EnumMode.TIMER">
    <div class="principales contenedor">
      <button class="btn reiniciar" (click)="reiniciar()">REINICIAR</button>
      <button class="btn iniciar" (click)="initTimer()">{{ timerData.running ? 'PAUSAR' : 'INICIAR' }}</button>
    </div>
</ng-container>
  
